In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
from numpy.random import randn

In [5]:
np.random.seed(101)

In [8]:
df = pd.DataFrame(randn(5,4),['a','b','c','d','e'],['x','y','z','o'])

In [11]:
df

          x         y         z         o
a  0.302665  1.693723 -1.706086 -1.159119
b -0.134841  0.390528  0.166905  0.184502
c  0.807706  0.072960  0.638787  0.329646
d -0.497104 -0.754070 -0.943406  0.484752
e -0.116773  1.901755  0.238127  1.996652

In [15]:
df['x']

a    0.302665
b   -0.134841
c    0.807706
d   -0.497104
e   -0.116773
Name: x, dtype: float64

In [16]:
type(df)

pandas.core.frame.DataFrame

In [19]:
type(df['x'])

pandas.core.series.Series

In [22]:
df[['x','y','z']]

          x         y         z
a  0.302665  1.693723 -1.706086
b -0.134841  0.390528  0.166905
c  0.807706  0.072960  0.638787
d -0.497104 -0.754070 -0.943406
e -0.116773  1.901755  0.238127

In [23]:
df['new']=df['x'] + df['y']

In [25]:
df

          x         y         z         o       new
a  0.302665  1.693723 -1.706086 -1.159119  1.996388
b -0.134841  0.390528  0.166905  0.184502  0.255687
c  0.807706  0.072960  0.638787  0.329646  0.880666
d -0.497104 -0.754070 -0.943406  0.484752 -1.251174
e -0.116773  1.901755  0.238127  1.996652  1.784981

In [33]:
df.drop('new',axis=1,inplace=False) #inplace True will actually remove it axis=0 is for row and 1 is for column

          x         y         z         o
a  0.302665  1.693723 -1.706086 -1.159119
b -0.134841  0.390528  0.166905  0.184502
c  0.807706  0.072960  0.638787  0.329646
d -0.497104 -0.754070 -0.943406  0.484752
e -0.116773  1.901755  0.238127  1.996652

In [32]:
df

          x         y         z         o       new
a  0.302665  1.693723 -1.706086 -1.159119  1.996388
b -0.134841  0.390528  0.166905  0.184502  0.255687
c  0.807706  0.072960  0.638787  0.329646  0.880666
d -0.497104 -0.754070 -0.943406  0.484752 -1.251174
e -0.116773  1.901755  0.238127  1.996652  1.784981

In [38]:
df.loc['a']

x      0.302665
y      1.693723
z     -1.706086
o     -1.159119
new    1.996388
Name: a, dtype: float64

In [40]:
df.iloc[0]

x      0.302665
y      1.693723
z     -1.706086
o     -1.159119
new    1.996388
Name: a, dtype: float64

In [41]:
df.loc['a','y']

1.6937229252040349

In [42]:
df.loc[['a','b'],['o','y']]

          o         y
a -1.159119  1.693723
b  0.184502  0.390528

In [43]:
df

          x         y         z         o       new
a  0.302665  1.693723 -1.706086 -1.159119  1.996388
b -0.134841  0.390528  0.166905  0.184502  0.255687
c  0.807706  0.072960  0.638787  0.329646  0.880666
d -0.497104 -0.754070 -0.943406  0.484752 -1.251174
e -0.116773  1.901755  0.238127  1.996652  1.784981

In [49]:
df[df['x']<0][['y','z']]

          y         z
b  0.390528  0.166905
d -0.754070 -0.943406
e  1.901755  0.238127

In [50]:
df[df['x']>0]

          x         y         z         o       new
a  0.302665  1.693723 -1.706086 -1.159119  1.996388
c  0.807706  0.072960  0.638787  0.329646  0.880666

In [52]:
df[(df['x']>0) & (df['z']<1)] # and operation in pandas

          x         y         z         o       new
a  0.302665  1.693723 -1.706086 -1.159119  1.996388
c  0.807706  0.072960  0.638787  0.329646  0.880666

In [53]:
df[(df['x']>0) | (df['z']<1)] # or operation in pandas

          x         y         z         o       new
a  0.302665  1.693723 -1.706086 -1.159119  1.996388
b -0.134841  0.390528  0.166905  0.184502  0.255687
c  0.807706  0.072960  0.638787  0.329646  0.880666
d -0.497104 -0.754070 -0.943406  0.484752 -1.251174
e -0.116773  1.901755  0.238127  1.996652  1.784981

In [56]:
states = "ca or tx pt nmex".split()

In [57]:
states

['ca', 'or', 'tx', 'pt', 'nmex']

In [59]:
df['States'] = states

In [60]:
df

          x         y         z         o       new States
a  0.302665  1.693723 -1.706086 -1.159119  1.996388     ca
b -0.134841  0.390528  0.166905  0.184502  0.255687     or
c  0.807706  0.072960  0.638787  0.329646  0.880666     tx
d -0.497104 -0.754070 -0.943406  0.484752 -1.251174     pt
e -0.116773  1.901755  0.238127  1.996652  1.784981   nmex

In [62]:
df.set_index('States')

               x         y         z         o       new
States
ca      0.302665  1.693723 -1.706086 -1.159119  1.996388
or     -0.134841  0.390528  0.166905  0.184502  0.255687
tx      0.807706  0.072960  0.638787  0.329646  0.880666
pt     -0.497104 -0.754070 -0.943406  0.484752 -1.251174
nmex   -0.116773  1.901755  0.238127  1.996652  1.784981